/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
html{
  box-sizing: border-box;
}

body{
  margin:0;
  min-height: 100vh;

  background-image: -moz-linear-gradient(180deg, rgb(168, 189, 255), rgb(168, 245, 255)); 

background-image: -webkit-linear-gradient(180deg, rgb(168, 189, 255), rgb(168, 245, 255)); 

background-image: linear-gradient(180deg, rgb(168, 189, 255), rgb(168, 245, 255));

color:#000;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
display: flex;
align-items: center;
justify-content: center;

  }

  .quote-container{
    width: auto;
    max-width: 900px;
    padding:20px 30px;
    border-radius: 10px;
    background-color: rgba(225,225,225,0.4);
    box-shadow:0 10px 10px 10px rgba(0,0,0,0.2);

  }

  .quote-text{
    font-size: 2.75rem;
  }

  .long-quote{
    font-size: 2rem;
  }
  .fa-quote-left{
    font-size: 4rem;

  }

  .quote-author{
    margin-top:15px;
    font-size: 2rem;
    font-weight: 400;
  }

  .button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

  }
button{
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #333;
  color:white;
  outline: none;
  padding:0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121,121,121,0.65);
}

button:hover{
  filter:brightness(130%);

}
button:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(225,225,225,0.65);
}

.twitter-button:hover{
  color:#38a1f3;

}
.fa-twitter{
  font-size: 1.5rem;
}

#loader {
  /* display: inline-block; */
  position: relative;
  width: 80px;
  height: 80px;
}
#loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
#loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
#loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

  /* //media query  */

  @media screen and (max-width:1000px){
    .quote-container{
      margin:auto 10px;

    }
    .quote-text{
      font-size: 2.5rem;
    }
  }